{% extends "main/base.html" %}
{% block title %}View List{% endblock %}

{% block content %}
	<h3>{{ls.name}}</h3>
	<form method="post" action="#">
	{% csrf_token %}
	<ul>
		{% for message in ls.message_set.all %}

			{% if message.user.is_staff %}
			<div class=box-staff>
			{% else %}
			<div class=box-user>
			{% endif %}
					<p style="text-align:left;">
						{{message.user}}:
						<span style="float:right;">
							{{message.date}} <br>
						</span>
					</p>
					{{message.text}}
			</div>
		{% endfor %}
	</ul>


	<textarea name="new" cols="90" rows="5"></textarea><br><br>
	<button type="submit", name="newMessage", value="newMessage">Add Message</button><br><br>

	
{% endblock %}