{% extends 'main/base.html' %}

{% block title %}
View
{% endblock %}

{% block content %}
    <h2>View your tickets</h2><br>
    {% if user.is_authenticated %}
        {%if user.is_staff %}
            {% for ticket in tickets %}
                <li><a href="/{{ticket.id}}">{{ticket.name}}</a></li>
            {% endfor %}
        {% else %}
            {% for ticket in user.ticket.all %}
                <li><a href="/{{ticket.id}}">{{ticket.name}}</a></li>
            {% endfor %}
        {% endif %}

    {% else %}
    <h3>You must be log in to view tickets</h3>
    {% endif %}
{% endblock %}